.aulas {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background: #000;
  z-index: 2;
}

.aulas .header {
  display: flex;
  position: fixed;
  top: 0;
  height: 50px;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px 20px 12px;
  background: #000;
}

.aulas .header__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.aulas .header__text {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.aulas .icon-grade {
  width: 30px;
}

.icon-produto {
  width: 15px;
  margin-left: 15px;
}

.icon-balao {
  width: 20px;
  transform: rotatey(180deg);
}

.container-menu {
  display: flex;
  font-size: 12px;
  position: fixed;
  top: 50px;
  background: #000;
  width: 100%;
}

.menu-top {
  width: 50%;
  text-align: center;
  padding-bottom: 15px;
}

.btn-material {
  text-decoration: none;
  color: #fff;
}

.menu-aulas {
  color: #fff;
  border-bottom: 2px solid #679f95;
}

.menu-material {
  border-bottom: 2px solid #dabf43;
}

.container-busca {
  position: fixed;
  top: 78px;
  width: 100%;
  padding: 11px;
  background: #000;
}

.area__busca {
  display: flex;
  background: #171717;
  border-radius: 20px;
  width: 100%;
}

.area__text {
  background: #171717;
  font-size: 15px;
  height: 30px;
  padding: 15px 0 15px 30px;
  color: #fff;
  width: 100%;
  border-radius: 20px;
}

.area__icon {
  width: 20px;
  margin-right: 15px;
}

.bg_aulas {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url(../img/bg_page1.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.modal-aulas {
  color: #fff;
  position: absolute;
  top: 130px;
  width: 100%;
  padding-bottom: 70px;
  opacity: 1;
  z-index: 1;
}

/* .modal-aulas:target {
  opacity: 1;
  pointer-events: auto;
  position: relative;
  top: 130px;
} */

.aula-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 82px;
}

.aula__nome {
  width: 90%;
  float: left;
  text-align: center;
}

.aula-tema {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 90px;
  background: rgba(7, 25, 25, 0.5);
  padding: 10px;
  margin-top: 8px;
}

.tema-video {
}

.tema-texto {
  font-size: 12px;
  padding: 7px;
}

.tema-texto__duracao {
  color: #648584;
  font-size: 10px;
}

.tema-seta {
  width: 17px;
  transform: rotate(180deg);
}

.aula-sub__tema {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  background: rgba(7, 16, 15, 0.5);
  gap: 7px;
}

.content__tema {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 97%;
  flex-flow: row;
}

.content__tema-text {
  font-size: 13px;
}

.content__tema-time {
  color: #648584;
}

.aula-sub__arrow {
  transform: rotate(-90deg);
  width: 20px;
}

.aula-video__tema {
  width: 19px;
  margin-right: 6px;
}

.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.display-flex {
  display: flex;
}

.tab-label {
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  font-weight: bold;
  cursor: pointer;
}

.tema-seta {
  width: 30px;
  height: 16px;
  transition: all 0.35s;
}

.tema-seta__icon {
  width: 100%;
  height: 100%;
  background: url("../img/triangulo-para-cima.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.tab-content {
  max-height: 0;
  transition: all 0.35s;
}

.collapser:checked + .aula-tema .tema-seta .tema-seta__icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.collapser:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}
